.navbar{
    background-color: var(--accent-color);
    border-bottom: .1em solid black;  
    height: 4.5em;  
    position: sticky;
}

.navbar-brand{
    color: var(--text-color);
    font-weight: bold;
    font-size: 2em;
    margin: 0em !important;
    padding: 0em !important;
}

.form-control-sm{
    width: 10em !important;
}
