.card {
    background-color: var(--post-color);
    border-radius: 1em;
    margin-left: 12em;
    border: none;
    color: white;
}

.card-body {
    height: 20em;
    overflow: hidden;
}

.card-header {
    background-color: var(--accent-color);
    color: var(--text-color);
    font-weight: bold;
}

.card-footer {
    background-color: var(--post-color);
}

#post-view {
    background-color: var(--post-color);
    border-radius: .15em;
    color: white;
}

.post-button,
.post-button:hover {
    background-color: var(--accent-color);
    color: var(--post-color);
}

.badge {
    background-color: var(--accent-color) !important;
    margin: .25em;
    color: white;
}

.post-title {
    font-weight: bold;
    font-size: 3em;
    background-color: var(--accent-color);
    padding: 0em 1em 0em 1em;
    color: var(--post-color);
    border: 1px solid var(--accent-color);
    border-radius: .25em;
}

.link,
.link:hover {
    font-weight: bold;
    color: rgb(255, 254, 254);
}


hr {
    height: 1px !important;
    color: #000000 !important;
    background-color: #000000 !important;
}

.comment {
    border: 1px solid rgb(165, 165, 165);
    border-radius: .15em;
    padding: 1em;
}

.comment-header {
    background-color: var(--accent-color);
    color: white;
    padding: .25em;
    border-radius: .15em;
}

.comment-button,
.comment-button:hover {
    background-color: var(--post-color);
    color: white;
}

.delete-button,
.delete-button:hover {
    background-color: red;
}