.card {
    background-color: var(--post-color);
    border-radius: 1em;
    margin-left: 12em;
    border: none;
}

.card-body {
    height: 20em;
    overflow: hidden;
}

.card-header {
    background-color: var(--accent-color);
    color: #EBF5EE;
    font-weight: bold;
}

.card-footer {
    background-color: var(--post-color);
}

.category {
    font-weight: bold;
    font-size: 1.5em;
}



.post-button,
.post-button:hover {
    background-color: var(--accent-color);
    color: var(--post-color);
}

.badge {
    background-color: var(--accent-color) !important;
    margin: .25em;
}