.sidebar {
    position: fixed;
    height: 100%;
    width: 14em;
    margin-top: 4.5em;
    left: 0;
    top: 0;
    background-color: var(--accent-color)
}

.list-group {
    height: 15em;
    overflow-y: scroll;
    background-color: var(--accent-color);
    scrollbar-color: var(--post-color) var(--accent-color);
    border-radius: 0em;
    margin-left: 1em;
}

.list-group-item {
    color: var(--accent-color);
    border: none;
    border-bottom: 1px solid wheat;
    border-radius: 0em;
    background-color: var(--post-color);
}

.sidebar-title {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.5em;
}

.uuid{
    font-size: .75em;
}

.form-select{
    background-color: var(--bg-color);
    color: rgb(255, 255, 255);
    scrollbar-color:  var(--post-color) var(--accent-color);
    border-radius: 0em;
    border: none;
    box-shadow: none !important;
}