:root {
  --accent-color: #283044;
  --post-color: #BFA89E;
  --bg-color: #8B786D;
}

body {
  background-color: var(--bg-color);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  color: var(--accent-color);
}

.home {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--accent-color);
  padding: 5em;
  border-radius: 2em;
  color: var(--bg-color);
}

label {
  font-weight: bold;
}

.custom-button,
.custom-button:hover {
  background-color: var(--post-color);
  color: var(--accent-color);
}



